/* For google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Poppins:wght@400;600;800&family=Ubuntu:ital@1&display=swap');

/* Base Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* Now 1rem = 10px */
}

body{
    font-family: "Poppins",sans-serif;
}
a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
}
h1,h2,p{
    margin:1.6rem 0;
}
h1{
    font-weight: 800;
    font-size: 3.6rem;
}
h2{
    font-weight: 800;
    font-size: 2.4rem;   
}
p{
    font-weight: 400;
    font-size: 1.8rem;
}
img{
    width:10%;
    height: auto;
}

/* Utility Classes */
.row{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

section{
    padding: 100px 0;
}

/* Hero Section */
header{
    /* height: 100vh; For entire viewport height */
    background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6)),url('images/background-image.jpg');
    /* background-image: url('images/background-image.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; 
    padding-bottom: 0.8rem;
}

.logo{
    font-size: 3.2rem;
    color: #4caf50;
    margin: 0;
}

nav{
    padding: 2% 8%;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav box-icon{
    display: none;
}

nav ul{
    list-style-type:none;
}
nav ul li{
    display: inline-block;
    margin-left: 2.5rem;
}
nav ul li a:hover{
    color: #4caf50;
    transition: 0.5s ease-in-out;
}

/* Header content */
.header-content{
    width:50%;
    margin-left:8%;
    color:whitesmoke;
}
form{
    margin: 2.4rem 0;
}
input{
    font-size: 1.8rem;
}
input[type=text],
input[type=email]{
    width:50%;
    padding: 1.2rem 2rem;
    margin:1.2rem 0;
    display: block;
    border: solid #4caf50;
}
input[type=submit]{
    width:50%;
    padding: 1.4rem 2rem;
    background-color: #4caf50;
    color: white;
    margin:0.8rem 0;
    border:none;
    border-radius:4px;
    display: block;
}
input::placeholder{
    font-size: 1.3rem;
    color: #ccc;
}

/* About section */

.about img{
    width: 100%;
} 
.about .row{
    align-items: flex-start;
}
.about-left,.about-right,.about-middle{
    padding: 1.6rem;
    flex-basis: 30%;
}

.btn {
    background: #34d934;
    background-image: -webkit-linear-gradient(top, #34d934, #0d5914);
    background-image: -moz-linear-gradient(top, #34d934, #0d5914);
    background-image: -ms-linear-gradient(top, #34d934, #0d5914);
    background-image: -o-linear-gradient(top, #34d934, #0d5914);
    background-image: linear-gradient(to bottom, #34d934, #0d5914);
    /* -webkit-border-radius: 28; */
    /* -moz-border-radius: 28; */
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }


  /* About 2 */
  .about2{
    background-color: #222;
    color: whitesmoke;
  }
  .left-div{
    flex-basis: 50%;
  }
  .right-div{
    flex-basis:30%;
    
  }
  .right-div .card{
    /* width:80%; */
    padding: 7px 10px;
    color:#222 ;
    background-color: #dcdcdc;
    margin: 1.6rem;
    text-align: center;
  }


  /* Process */
  .Process{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .Process h2{
    margin-bottom: 7rem;
  }
  .ProcessBar{
    background-color: black;
    width: 80%;
    height: 2px;
    margin: auto;
    position: relative;
  }
  .c{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    
  }
  .c1{
    top:-8px;
    left:50px;
  }
  .c2{
    top:-8px;
    left:50%;
  }
  .c3{
    top:-8px;
    right:50px;
  }
  .process-left{
    padding: 7px 15px;
    text-align: left;
  }
  .process-middle{
    text-align: center;
  }
  .process-right{
    text-align: right;
  }


/* Testimony */
.Testimony{
    background-color: #222;
    padding: 80px;
}
.Testimony .row{
    padding: 0 50px;
    width:100%;
}
.Testimony img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.plate{
    color: #ccc;
    padding: 2rem 3rem;
    background-color: #333;
    margin-left: 20px;
    border-radius: 10px;
}
.plate h2{
    color:wheat;
}



@media only screen and (max-width :786px){
    nav{
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    nav box-icon{
        display: block;
        position: absolute;
        top:44px;
        right:24px;
    }
    nav ul{
        padding: 0 5% 0 0;
        background-color: whitesmoke;
        align-self: flex-end;
        display: none;
    }
    nav ul li{
        display: block;
        padding: 2% 0;
    }
    nav ul li a{
        color: #222;
    }
    .showmenu{
        display:block;
    }
    .header-content p{
        display: none;
    }
    .header-content{
        padding-right:10%;
        width: 100%;
    }
    .row{
        flex-direction: column;
    }
    .right-div .row{
        flex-direction: row;
        margin:0px;
    }
    .right-div{
        padding: 0px;
    }

    .Process .row div{
        text-align: left;
    }
    .plate{
        margin:10px;
    }
    .Testimony .row{
        padding: 0px;
    }
}
